<form #timerForm="ngForm">
    <div class="form-group">
        <label for="goal">Session goal</label>
        <input class="form-control" [formControl]="goal" type="text" id="goal" maxlength="150"/>
    </div>
    <div class="form-group">
        <label for="workDuration">Work duration</label>
        <input class="form-control" [formControl]="workDuration" type="time" step="1"/>
    </div>
    <div class="form-group">
        <label for="pauseDuration">Pause duration</label>
        <input class="form-control" [formControl]="pauseDuration" type="time" step="1"/>
    </div>
    <div class="form-group">
        <label for="loop">Loop</label>
        <input class="form-control" type="number" [formControl]="loop" min="1" max="10">
    </div>
</form>
<button class="icon-button" [ngStyle]="{'background-image': 'url(\'/assets/icons/checkmark_icon.svg\')', 'background-repeat': 'no-repeat'}" (click)="addSession()"></button>